$primary-color: #11b9bc;
$dark-of-primary: #085c5e;
$gold-color: #C9B079;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 19rem;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("assets/header-background.jpg");
        background-size: cover;
        background-position: 0% 44%;
        opacity: 0.7;
        z-index: -1;

        @media (min-width: 1024px) {
        background-attachment: fixed;
        }
    }

    img {
        width: 19rem;
        height: 19rem;
        border-radius: 50%;
        z-index: 10;
        -webkit-box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        -moz-box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        opacity: 0;
        animation: appearing 2s forwards;
        animation-delay: 1.5s;
    }

    .absolute-bar {
        height: 48%;
        width: 100%;
        background: $primary-color;
        opacity: 0.7;
        position: absolute;
        animation: slide-from-side 2s forwards;
        animation-duration: 0.8s;
        animation-delay: 1s;
    }

    .absolute-top {
        top: 0;
        left: 0;
        transform: translateX(100%);

        @media (min-width: 500px) {
        -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    .absolute-bottom {
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        

        @media (min-width: 500px) {
        -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        }
    }
}

@keyframes appearing {
    100% {
        opacity: 1;
    }
}

@keyframes slide-from-side {
    100% {
        transform: translateX(0);
    }
}

