$primary-color: #11b9bc;
$dark-of-primary: #085c5e;
$gold-color: #C9B079;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    line-height: 26px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 19rem;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("assets/header-background.jpg");
        background-size: cover;
        background-position: 0% 44%;
        opacity: 0.7;
        z-index: -1;

        @media (min-width: 1024px) {
        background-attachment: fixed;
        }
    }

    img {
        width: 19rem;
        height: 19rem;
        border-radius: 50%;
        z-index: 10;
        -webkit-box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        -moz-box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        box-shadow: inset 0px 0px 12px 2px rgba(54, 198, 204, 1);
        opacity: 0;
        animation: appearing 2s forwards;
        animation-delay: 1.5s;
    }

    .absolute-bar {
        height: 48%;
        width: 100%;
        background: $primary-color;
        opacity: 0.7;
        position: absolute;
        animation: slide-from-side 2s forwards;
        animation-duration: 0.8s;
        animation-delay: 1s;
    }

    .absolute-top {
        top: 0;
        left: 0;
        transform: translateX(100%);

        @media (min-width: 500px) {
        -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
        }
    }

    .absolute-bottom {
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        

        @media (min-width: 500px) {
        -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    padding: 1rem;
    margin: 0 auto;
}

.homepage {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 117px;
        left: 0;
        width: 100%;
        height: 287px;
        background: $primary-color;
        opacity: 0.1;
        z-index: -1;
        -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }

    .content {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        gap: 3.5rem;
        opacity: 0;
        transform: translateY(40px);
        animation: slide-from-bottom 1s forwards;
        animation-delay: 2.4s;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }

        .image {
            width: 13.8rem;
            position: relative;

        @media (max-width: 800px) {
            height: 306px;
            overflow: hidden;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            -webkit-box-shadow: inset 0px 0px 11.5px 11.5px rgba(255, 255, 255, 1);
            -moz-box-shadow: inset 0px 0px 11.5px 11.5px rgba(255, 255, 255, 1);
            box-shadow: inset 0px 0px 11.5px 11.5px rgba(255, 255, 255, 1);
        }

            img {
                width: 100%;
                z-index: -1;
            }
        }

        .stuff {
                width: 560px;
                max-width: 100%;
                padding: 0 1rem;

            h1 {
                text-align: center;
                font-weight: bold;
                font-size: 35px;
                margin-bottom: 24px;
                line-height: 37px;
            }

            p {
                margin-bottom: 22px;
                text-align: center;
                font-size: 20px;
            }

            p:nth-child(3) {
                text-align: left;
                margin: 30px 0;
            }

            p:nth-of-type(4) {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                @media (max-width: 550px) {
                    display: flex;
                    flex-wrap: wrap;
                }

                span {
                    color: $primary-color;
                    font-weight: bold;
                }

                img {
                    position: relative;
                    bottom: 3px;
                }
            }

            .signature {
                display: block;
                text-align: right;
                padding-right: 1rem;
                font-size: 22px;
                margin-top: 3rem;
            }
        }
    }
}

.products-page {
    width: 100%;
    min-height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url("./assets//gold.jpg");
        background-size: cover;
        opacity: 0.1;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: #36C6CC;
        opacity: 0.4;
    }
}

@keyframes appearing {
    100% {
        opacity: 1;
    }
}

@keyframes slide-from-side {
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-bottom {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

